<div th:fragment="navbar" class="container" style="margin-bottom:9%;">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/product}">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/product}">Home</a>
                </li>
                <!-- Admin links -->
                <li sec:authorize="hasAuthority('Admin')" class="nav-item">
                    <a class="nav-link" th:href="@{/category}">Manage Categories</a>
                </li>
                <li sec:authorize="hasAuthority('Admin')" class="nav-item">
                    <a class="nav-link" th:href="@{/product}">Manage products</a>
                </li>
                <li sec:authorize="hasAuthority('Admin')" class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Manage Admins</a>
                </li>

                <!-- Customer links -->
                <li sec:authorize="hasAuthority('Customer')" class="nav-item">
                    <a class="nav-link" th:href="@{/customer/{customerId}/order(customerId=${#authentication.getPrincipal().getUser().getId()})}">Order History</a>
                </li>
                <li sec:authorize="hasAuthority('Customer')" class="nav-item">
                    <a class="nav-link" th:href="@{/customer/{customerId}/cart(customerId=${#authentication.getPrincipal().getUser().getId()})}">Cart List</a>
                </li>
                <li sec:authorize="hasAuthority('Customer')" class="nav-item">
                    <a class="nav-link" th:href="@{/customer/{customerId}/account/settings(customerId=${#authentication.getPrincipal().getUser().getId()})}">Settings</a>
                </li>
                <li sec:authorize="hasAuthority('Customer')" class="nav-item">
                    <a class="nav-link" th:href="@{/customer/{customerId}/address(customerId=${#authentication.getPrincipal().getUser().getId()})}">My Addresses</a>
                </li>
                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>