<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Based (Pagination)</title>
    <th:block th:replace="~{partials/style :: bootstrap-css}"/>

</head>
<body>
<div class="container">
    <th:block th:replace="~{partials/navbar :: navbar}"/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Admin</h1>
            <div class="card-body">
                <form th:action="@{/admin}" th:object="${admin}" method="post">

                    <div class="form-group">

                        <label>Admin Email</label>
                        <input type="text"
                               name="email"
                               th:field="*{email}"
                               class="form-control"
                               placeholder="Enter an email For Admin"/>
                    </div>



                    <div class="box-footer">
                        <button type="submit" class="btn btn=primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
<th:block th:replace="~{partials/scripts :: scripts}"/>
</body>
</html>