<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Edit Category</h1>
            <div class="card-body">
                <form th:action="@{/category/{id}/edit (id=${category.id})}" th:object="${category}" method="post">
                    <div class="form-group">

                        <label>Category Name</label>
                        <input type="text"
                               name="name"
                               th:field="*{name}"
                               value="*{name}"
                               class="form-control"
                               placeholder="Enter a name For Category"/>
                    </div>
                     <input hidden="hidden" class="form-control" id="id" name="id" placeholder="id" th:field="*{id}">




                    <div class="box-footer">
                        <button type="submit" class="btn btn=primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>