<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(All Available Categories)</title>
    <th:block th:replace="~{partials/style :: bootstrap-css}"/>

</head>
<body>

<div class="container ">

    <th:block th:replace="~{partials/navbar :: navbar}"/>
    <div class="row">
        <h1>List Of Categories (All Available Admins)</h1>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <a th:href="@{/category/add}" class="btn btn-primary">Add Category</a>
        </div>

    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Admin Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="category: ${all_categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td sec:authorize="hasAuthority('Admin')" >
                <a class="btn btn-primary" th:href="@{/category/{id}/edit(id=${category.id})}">Edit</a>
                <a class="btn btn-secondary" th:href="@{/category/{id}/delete(id=${category.id})}">Delete</a>

            </td>
        </tr>
        </tbody>


    </table>


</div>

<th:block th:replace="~{partials/scripts :: scripts}"/>
</body>

</html>