<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(All Available Addresses for you)</title>
    <th:block th:replace="~{partials/style :: bootstrap-css}"/>

</head>
<body>

<div class="container ">
    <th:block th:replace="~{partials/navbar :: navbar}"/>

    <div class="row">
        <h1>List Of Current Customer Address </h1>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <a th:href="@{/customer/{id}/address/add(id=${customerId})}" class="btn btn-primary">Add Address</a>
        </div>

    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Address ID</th>
            <th>Address Name</th>
            <th>Address Customer</th>
            <th>Admin Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="address: ${all_addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.address}"></td>
            <td th:text="${address.customer.name}"></td>
            <td >
                <a class="btn btn-primary" th:href="@{/customer/{customerId}/address/{id}/edit(id=${address.id},customerId=${customerId})}">Edit</a>
                <a class="btn btn-secondary" th:href="@{/customer/{customerId}/address/{id}/delete(id=${address.id},customerId=${customerId})}">Delete</a>

            </td>
        </tr>
        </tbody>


    </table>


</div>


</body>
<th:block th:replace="~{partials/scripts :: scripts}"/>
</html>