<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Address</title>
    <th:block th:replace="~{partials/style :: bootstrap-css}"/>

</head>
<body>
<div class="container">
    <th:block th:replace="~{partials/navbar :: navbar}"/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Edit Address</h1>
            <div class="card-body">
                <form th:action="@{/customer/{customerId}/address/{id}/edit(id=${address.id},customerId=${customerId})}" th:object="${address}" method="post">
                    <div class="form-group">

                        <label>Address Name</label>
                        <input type="text"
                               name="address"
                               th:field="*{address}"
                               value="*{address}"
                               class="form-control"
                               placeholder="Enter your address"/>
                    </div>
                    <input hidden="hidden" class="form-control" id="id" name="id" placeholder="id" th:field="*{id}">
                    <input hidden="hidden" class="form-control" id="customer" name="customer" placeholder="customer" th:field="*{customer}">

                    <div class="box-footer">
                        <button type="submit" class="btn btn=primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
<th:block th:replace="~{partials/scripts :: scripts}"/>
</body>
</html>