<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(All Available Addresses for you)</title>
    <th:block th:replace="~{partials/style :: bootstrap-css}"/>

</head>
<body>

<div class="container ">
    <th:block th:replace="~{partials/navbar :: navbar}"/>

    <div class="row">
        <h1>List Of Current Customer Address, Please Select Address to send the order to </h1>
    </div>


    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Selected</th>
            <th>Address ID</th>
            <th>Address Name</th>
            <th>Address Customer</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="address: ${all_addresses}">
            <td>
                <span th:with="selected_address=${address.address.equals(selectedAddress)}">
                    <span th:switch="${selected_address}">
                        <input th:case="${true}" type="checkbox" name="address-selected" disabled checked>
                        <input th:case="${false}" type="checkbox" name="address-selected" disabled >
                    </span>
                </span>
            </td>
            <td th:text="${address.id}"></td>
            <td th:text="${address.address}"></td>
            <td th:text="${address.customer.name}"></td>
            <td >

                <form method="post"th:action="@{/customer/{customerId}/order/address/choose(customerId=${customerId})}" >
                    <input hidden="hidden" class="form-control" id="address" name="selectedAddress" th:value="${address.address}"
                           placeholder="Enter an Address" type="text">
                    <button class="btn btn-primary" type="submit">Select this address</button>
                </form>


            </td>
        </tr>
        </tbody>


    </table>


    <a class="btn btn-primary align-middle"
       th:href="@{/customer/{customerId}/order/card(customerId=${customerId})}">Pay with CARD</a>

    <a class="btn btn-primary align-middle"
       th:href="@{/customer/{customerId}/order/address/cash(customerId=${customerId})}">Pay With Cash (On Delivery)</a>

</div>


</body>
<th:block th:replace="~{partials/scripts :: scripts}"/>
</html>